<!-- escolher_plano.html -->
{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block content %}
  <!-- login.html ou opcoes_login_cadastro.html -->
{% if messages %}
{% for message in messages %}
    <div>{{ message }}</div>
{% endfor %}
{% endif %}
  <div class="planos-container" data-user-id="{{ request.user.id }}">
    <!-- Plano Básico -->
    <div class="plano">
      <h3 class="plano-titulo">Plano Básico</h3>
      <p class="plano-descricao">
          <!-- Descrição do plano básico -->
          Roteirização de 25 Endereços/ROTA:<br>
          Para atender às necessidades fundamentais das operações logísticas da sua empresa,
          apresentamos o Plano Básico de Roteirização de Endereços.
          Este plano oferece uma solução acessível e eficaz, fornecendo recursos essenciais de roteirização,<br>
          <strong>de 30 rotas com 25 endereços/rota</strong>, para garantir flexibilidade conforme sua necessidade.
      </p>
      <p class="plano-preco">R$30,00</p>
      <!-- Campo de entrada somente leitura para o código de pagamento -->
      <input type="text" id="chave-pix" hidden value="00020126580014BR.GOV.BCB.PIX0136ab2b1cce-d758-4298-9530-96b92b7e58bd520400005303986540530.005802BR5925GET EXPRESS TRANSPORTES U6009SAO PAULO61080540900062250521fOH8EEidx161T5C1429qq6304E2F4" readonly>
      <!-- Elemento para exibir o código de pagamento -->
      <div id="codigo-pagamento" style="display: none;">
        <p style="font-size: 18px;">Anote seu código de pagamento:</p>
        <p id="codigo-gerado"></p>
      </div>
      <!-- Botão para copiar o código de pagamento -->
      <button class="btn btn-primary" onclick="copiarCodigo()">Copiar PIX</button> <br>
      <div class="container" style="background-color: aliceblue; border-radius: 50%; padding: 10px;"><img src="{% static 'img\pix-banco-central-logo.png' %}" alt="Logo do PIX"></div>
    </div>
  </div>
{% endblock %}
