{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="heading">Gerenciar Pagamentos</h1>
    <form method="post" class="payment-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_usuario">Usuário:</label>
        {{ form.usuario }}
      </div>
      <div class="form-group">
        <label for="id_codigo_pagamento">Código de Pagamento:</label>
        <input type="text" id="id_codigo_pagamento" name="codigo_pagamento" class="form-control" readonly>
        <button type="button" class="btn btn-primary" id="gerar-codigo-pagamento">Gerar Código</button>
      </div>
      <div class="form-group">
        <label for="id_data_pagamento">Data de Pagamento:</label>
        <input type="date" id="id_data_pagamento" name="data_pagamento" class="form-control">
        
      </div>
      <div class="form-group">
        <label for="id_valido_ate">Válido até:</label>
        <input type="text" id="id_valido_ate" name="valido_ate" class="form-control" readonly>
      </div>
      <div class="form-group">
        <label for="id_quant_acesso">Quantidade de Acessos:</label>
        <input type="number" id="id_quant_acesso" name="quant_acesso" class="form-control" value="30" readonly>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
{% endblock %}
