
{% extends 'base.html' %}

{% load static %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Data de Pagamento</th>
            <th>Válido Até</th>
            <th>Quantidade de Acessos</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for pagamento in pagamentos %}
        <tr>
            <td>{{ pagamento.id }}</td>
            <td>{{ pagamento.usuario }}</td>
            <td>{{ pagamento.data_pagamento }}</td>
            <td>{{ pagamento.valido_ate }}</td>
            <td>{{ pagamento.quant_acesso }}</td>
            <td>Edit</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}