{% extends 'base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="carousel">
        <input type="radio" id="slide1" name="slides" checked>
        <input type="radio" id="slide2" name="slides">
        <input type="radio" id="slide3" name="slides">
        <input type="radio" id="slide4" name="slides">
        <input type="radio" id="slide5" name="slides">
        
        <div class="slides">
            <div class="slide">
                <img src="{% static 'img/roteirizacao-1.jpg' %}" alt="Imagem 1">
            </div>
            <div class="slide">
                <img src="{% static 'img/roteirizacao-2.jpg' %}" alt="Imagem 2">
            </div>
            <div class="slide">
                <img src="{% static 'img/roteirizacao-3.jpg' %}" alt="Imagem 3">
            </div>
            <div class="slide">
                <img src="{% static 'img/roteirizacao-4.jpg' %}" alt="Imagem 4">
            </div>
            <div class="slide">
                <img src="{% static 'img/roteirizador-mapa.png' %}" alt="Imagem 5">
            </div>
        </div>
        
        <div class="navigation">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
            <div class="auto-btn5"></div>
        </div>
    </div>

    <section id="about">
        <!-- Conteúdo sobre a aplicação -->
        <h2>Sobre o GET OPTIMIZA</h2>
        <p>Bem-vindo ao GET OPTIMIZA, a solução completa para otimização de rotas de entrega.</p>
        <p>Com nosso software intuitivo e poderoso, você terá todas as ferramentas necessárias para simplificar e aprimorar
            sua logística de maneira eficiente e eficaz. Confira as principais funcionalidades que oferecemos:</p>

<p>Cadastro Simples e Pagamento Seguro:</p>
Após se cadastrar e confirmar o pagamento, você terá acesso imediato à aplicação, conforme os termos do contrato estabelecidos.
Garantimos um processo fácil e seguro para começar a otimizar suas rotas.

<p>Adição de Endereços Individualmente ou por Importação:</p>
Com o GET OPTIMIZA, você pode adicionar endereços manualmente um a um ou importá-los de uma planilha nos formatos CSV ou XLSX.
Isso proporciona flexibilidade e conveniência no gerenciamento de sua lista de entregas.

<p>Otimização de Rotas Inteligente:</p>
Nosso algoritmo avançado organiza automaticamente os endereços na sequência ideal de entrega,
levando em consideração as regras de trânsito e a eficiência do percurso.
Isso economiza tempo, reduz custos e melhora a precisão das entregas.

<p>Geração de Rota em PDF:</p>
Após a otimização da rota, você pode facilmente gerar e imprimir um arquivo PDF com a rota otimizada.
Isso proporciona uma referência física prática para os motoristas, garantindo uma execução suave e eficiente das entregas.

<p>Exportação de Rota para GPS:</p>
Além disso, o GET OPTIMIZA permite exportar a rota otimizada diretamente para o navegador de GPS.
Isso simplifica ainda mais o processo para os motoristas, permitindo uma navegação precisa e sem complicações
até os destinos de entrega.

<p>Com o GET OPTIMIZA, você terá tudo o que precisa para revolucionar sua logística de entrega. Não perca mais tempo e dinheiro com rotas ineficientes. Experimente hoje mesmo
   e descubra como podemos ajudá-lo a maximizar a eficiência e a lucratividade de suas operações de entrega.</p>
        <!-- ... -->
    </section>

    <section id="features">
        <!-- Recursos da aplicação -->
        <h2>Recursos</h2>
       <p>Adiciona endereço individual</p> 
       <p>Adiciona endereço importando da planilha no formato csv ou xlsx</p>
       <p>Otimiza a rota colocando na sequencia de entrega, respeitando as regras do transito</p> 
       <p>Imprimi a Rota em arquivo PDF</p> 
       <p>Exportar Rota para navegador de gps*</p> <br>
       <p>* Para esta funcionalidade precisa acessar o plano premim</p> 


        <!-- ... -->
    </section>

    <section id="contact">
        <!-- Informações de contato -->
        <div class="contact-form">
            <img src="{% static 'img/contactus.jpg' %}" alt="Contate-nos">
            <form action="#">
                
                <div class="button-group">
                    <a href="mailto:getexpresstransportes@gmail.com">Enviar Email</a>

                    <a href="https://wa.me/559997077240" target="_blank" class="whatsapp-button">WhatsApp</a>
                </div>
            </form>
        </div>
        <!-- ... -->
    </section>

    <section id="choose-plan">
        {% include 'escolher_plano.html' %}
    </section>
</main>
{% endblock %}
