{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- login.html ou opcoes_login_cadastro.html -->
{% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="login-container">
    <form class="login-form" method="post" action="{% url 'login' %}" accept-charset="utf-8">
        {% csrf_token %}
        <div class="form-field">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-field">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button class="btn-primary" type="submit">Logar</button>
        <p>Não tem uma conta? <a href="{% url 'signup' %}">Clique aqui</a> para se cadastrar.</p>
        <p>Esqueceu a senha? <a href="{% url 'signup' %}">Clique aqui</a> para recuperar a senha.</p>
    </form>
    
</div>
{% endblock %}
