body {
    font-family: 'Roboto', sans-serif;
    background-color: #2c3e50;
    color: #000000;
    margin: 0;
    padding: 0;
}

.table-section {
    background-color: #bbc3cb65;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

a {
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

#mapa {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#form-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: rgb(95, 95, 96);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tabela-dinamica {
    position: absolute;
    top: 50px;
    left: 10px; /* Ajuste a posição à esquerda conforme necessário */
    z-index: 1;
    background-color: rgba(141, 142, 143, 0.418);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal quando necessário */
    width: calc(100% - 20px); /* Leva em consideração o padding de 10px em cada lado */
    margin-top: 10px;
}

#tabela-enderecos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

#tabela-enderecos th, #tabela-enderecos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #090382;
}

#tabela-enderecos th {
    background-color: #4caf4f4d;
    color: rgb(83, 85, 253);
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#id_endereco {
    width: 300px;
    box-sizing: border-box;
}